@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ErrorMessage = ViewData["ErrorMessage"] as string;
    string SuccessMessage = ViewData["SuccessMessage"] as string;

    Student currentStudent = ViewData["StudentObj"] as Student;
    Branch currentBranch = ViewData["BranchObj"] as Branch;
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" asp-action="/" asp-controller="Home">DRU(@currentStudent.UniversityId)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" asp-action="/" asp-controller="Home">Home</a>
                <a class="nav-item nav-link" href="#">Subjects</a>
            </div>
        </div>
        <a class="btn btn-secondary nav-item mr-3" asp-action="Logout" asp-controller="Home">Logout</a>
    </nav>
</div>

@* Error messages *@
<div>
    @if (null != ErrorMessage)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                @if (null != ErrorMessage)
                {
                    @ErrorMessage
                }
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (null != SuccessMessage)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @if (null != SuccessMessage)
                {
                    @SuccessMessage
                }
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<div class="container">
    <h1 class="text-center mt-4 mb-4">@currentBranch.BranchName</h1>

    <div class="row d-flex justify-content-around mt-4">
        @for (int i = 1;i <= currentBranch.TotalSemester;i++){
            <div class="col-lg-6 col-md-4 col-sm-12 col-s-12 d-flex justify-content-center py-3">
                <a asp-action="Attendance" asp-controller="Home" asp-route-semester="@i" asp-route-branch="@currentBranch.Id" class="col-12 btn btn-info py-3"><h2>semester-@i</h2></a>
            </div>
        }
    </div>
</div>